#savedButton {
    background-color: rgba(60,60,60);
}
#taskBar {
    display: flex;
    width: 80%;
    margin: auto;
}
.tickbox {
    left: 16px;
}
.modal {
    position: fixed;
    right: 2%;
    left: 2%;
    top: 2%;
    bottom: 2%;
}
.modal-dialog {
    position: fixed;
    right: 2%;
    left: 2%;
    top: 2%;
    bottom: 2%;
}
.modal-content{
    position: fixed;
    right: 2%;
    left: 2%;
    top: 2%;
    bottom: 2%;
 }
 .modal-body{
    overflow-y: scroll
 }
 .modal-header {
    min-height: 56px;
 }
 .modal-footer {
    min-height: 80px;
}
@media only screen and (min-width: 568px) {
    .button-group {
        font-family:"monaco","Consolas","Lucida Console",monospace;
        position: relative;
        bottom: 0%;
        left: 0%;
        right: 0%;
        display: flex;
        margin-top: 8px;
    }
    .button {
        font-size: .8em;
        width: calc(100% / 4);
        border-width: 2px;
    }
}
@media only screen and (max-width: 567px) {
    .button-group {
        font-family:"monaco","Consolas","Lucida Console",monospace;
        position: relative;
        bottom: 0%;
        left: 0%;
        right: 0%;
        display: initial;
        margin-top: 8px;
    }
    .button {
        font-size: .8em;
        width: 100%;
        border-width: 2px;
    }
}